@import './vueDefault.css';
/*
全局css设置 用于设置如字体等
*/
#app {
    font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif!important;
    font-size: normal;
}

.card {
    width: auto;
    height: auto;
    display: flex;
    padding: 30px;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    .card-block {
        display: flex;
        width: 80%;
        gap: 20px;
        height: auto;
        width: auto;
        flex-direction: row;
        padding: 15px;
    }
}

